<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SubtitlesMule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SubtitlesMule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="LogFile" xsi:type="File" fileName="SubtitleMule.log"/>
      <target name="Console" xsi:type="Console"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <SubtitlesMule.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>HRV</value>
      </setting>
      <setting name="FileDownloadURL" serializeAs="String">
        <value>http://www.getsubtitle.com/webService/download_subtitle.php?{0}</value>
      </setting>
      <setting name="OpenSubtitlesUserName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OpenSubtitlesPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OpenSubtitlesUserAgent" serializeAs="String">
        <value>OSTestUserAgent</value>
      </setting>
    </SubtitlesMule.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SubtitlesMule.Properties.Settings>
      <setting name="SearchURL" serializeAs="String">
        <value>http://www.bsplayer-subtitles.com/index.php?cmd=search&amp;p=exploresub&amp;q={0}&amp;lang={1}</value>
      </setting>
      <setting name="OpenSubtitleApiURL" serializeAs="String">
        <value>https://api.opensubtitles.org/xml-rpc</value>
      </setting>
      <setting name="FileTypesToScan" serializeAs="String">
        <value>.mkv;.mp4</value>
      </setting>
    </SubtitlesMule.Properties.Settings>
  </applicationSettings>
</configuration>
